.SingleItem {
  border-top: 1px solid rgba(var(--primary-colour-rgb), 0.5);
  font-size: 0.8rem;
  padding: 0.5rem;
  .Row {
    overflow: hidden;
    &.ValueRow,
    &.WaiverRow {
      .Left {
        float: left;
        h4 {
          color: var(--primary-colour);
          display: inline-block;
          vertical-align: middle;
          margin: 0;
        }
      }
      .Right {
        float: right;
        strong {
          color: var(--secondary-colour);
        }
      }
    }
  }
}

.SingleItem .Row.ValueRow .Left,
.SingleItem .Row.WaiverRow .Left {
  .Button {
    border: 1px solid rgba(var(--primary-colour-rgb), 0.3);
    width: 26px;
    height: 26px;
    border-radius: 13px;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.SingleItem .Row.ValueRow.NoCoverage,
.SingleItem .Row.WaiverRow.NoCoverage {
  h4 {
    text-decoration: line-through;
    color: #999;
  }
}

.Modify {
  display: inline-block;
  margin-right: -60px;
  opacity: 0;
  transition: opacity 291ms ease-out, margin-right 123ms ease-out;
  margin-left: 8px;
  .Button {
    border: 1px solid var(--success);
    background-color: var(--success-light);
    width: 26px;
    height: 26px;
    &.Increase {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &.Decrease {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &.Disabled {
      background: #f9f9f9;
      border: 1px solid #e1e1e1;
    }
    &:first-child {
      border-right: 0;
    }
  }
  &.Visible {
    opacity: 1;
    margin-right: 0;
  }
}

.HelpRow {
  max-height: 0;
  overflow: hidden;
  transition: 257ms ease-out;
  &.Visible {
    max-height: 250px;
  }
}

.VehicleRow {
  max-height: 0;
  overflow: hidden;
  transition: max-height 211ms ease-out;
  ul {
    list-style: none;
    margin: 6px 0 0 35px;
    padding: 0;
    border-left: 1px solid rgba(var(--primary-colour-rgb), 0.5);
    li {
      line-height: 24px;
      height: 24px;
      i {
        display: inline-block;
        width: 15px;
        &.Yes {
          color: var(--success);
        }
        &.No {
          color: var(--warning);
          font-weight: 600;
        }
      }
      &:before {
        content: '';
        display: block;
        float: left;
        width: 6px;
        border-top: 1px solid rgba(var(--primary-colour-rgb), 0.5);
        margin-top: 12px;
        margin-right: 5px;
      }
    }
  }
  &.Visible {
    max-height: 300px;
  }
}
