.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-left { text-align: left }
.text-center { text-align: center }
.text-right { text-align: right }

hr {
  background: none;
  border: none;
  height: 0;
  border-top: 1px solid #999;
}

.text-primary {
  color: var(--primary-colour);
}

.titlecase {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}