.HomeWrapper {
  margin-bottom: 65px;
}

.BuyNow {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  .BuyNowPrice {
    display: inline-block;
    width: 210px;
    height: 210px;
    background: #1D64A9;
    border: 6px solid var(--primary-colour);
    border-radius: 105px;
    color: #fff;
    text-align: center;
    padding: 10px;
    .Monthly {
      padding-top: 10px;
      border-bottom: 1px solid rgba(255,255,255,0.5);
      .Value {
        color: rgba(255,255,255,0.9);
        font-size: 50px;
      }
      .Dollar {
        font-size: 15px;
      }
    }
    .Yearly {
      .Value {
        color: rgba(255,255,255,0.8);
        font-size: 37.5px;
      }
      .Dollar {
        font-size: 14px;
      }
    }
  }
  .LoadingSpinner {
    .loader {
      margin-top: 1rem;
      &:before,
      &:after {
        background: #1D64A9;
      }
    }
  }
}

.BuyBtn {
  position: absolute;
  left: 55%;
  bottom: -30px;
  width: 90px;
  height: 90px;
  font-size: 1.60rem;
  line-height: 1.60rem;
  background: var(--success);
  border-radius: 45px;
  color: #fff;
  animation-name: shadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  span,
  strong {
    display: block;
  }
  span {
    font-size: 1.8rem;
  }
  &:hover {
    animation-name: shadowHover;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  &.Active {
    animation: none;
    background: #c1c1c1;
    color: #e1e1e1;
  }
}

.Congrats {
  max-height: 200px;
  overflow: hidden;
  transition: max-height 200ms ease-out;
  h1 {
    font-weight: 300;
    margin: 0;
    color: var(--primary-colour);
  }
  &.Buying {
    max-height: 0;
  }
}

.Saved {
  max-height: 200px;
  overflow: hidden;
  transition: max-height 200ms ease-out;
  &.Buying {
    max-height: 0;
  }
}

.Proceed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-out;
  .Or {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 3px;
    color: rgba(var(--primary-colour-rgb), 0.5);
  }
  .Continue {
    background: var(--success);
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    width: 125px;
    vertical-align: middle;
    border-radius: 4px;
    small {
      font-size: 0.8rem;
      display: block;
    }
  }
  &.Buying {
    max-height: 200px;
  }
  p {
    padding-top: 2rem;
    .Button.Muted {
      padding: 0.5rem 0.75rem;
      border-radius: 4px;
    }
  }
}

@keyframes shadow {
  0%   { box-shadow: 0 0 0 0 rgba(46,195,106, 0.5) }
  100% { box-shadow: 0 0 0 20px rgba(46,195,106, 0.025) }
}

@keyframes shadowHover {
  0%   { box-shadow: 0 0 0 0 rgba(46,195,106, 0.5) }
  100% { box-shadow: 0 0 0 12px rgba(46,195,106, 0.3) }
}

.HomeFooter {
  position: relative;
  .BuyBtn {
    position: static;
  }
}