.SimplePrice {
  position: sticky;
  top: 0;
  height: 50px;
  border-bottom: 1px solid rgba(var(--primary-colour-rgb), 0.5);
  background: #fff;
  box-shadow: 0 1px 10px rgba(255,255,255,0.75);
  padding-top: 8px;
  margin-bottom: 2rem;
  .Price {
    display: inline-block;
    &:last-child {
      float: right;
    }
    .Value {
      color: var(--primary-colour);
    }
  }
  &.Loading {
    span {
      display: inline-block;
      vertical-align: middle;
      color: var(--primary-colour);
      margin-left: 10px;
    }
    .LoadingSpinner {
      vertical-align: middle;
      .loader {
        width: 3em;
        height: 3em;
        background: linear-gradient(to right, var(--primary-colour) 10%, rgba(255, 255, 255, 0) 42%);
        &:before,
        &:after {
          background: #fff;
        }
      }
    }
  }
}